<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 author-book card">
    <div class="row card-body">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="author-book-cover" src="{{ asset('uploads/covers/sample.jpg') }}" alt="Book cover">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9 card-text">
            <h5 class="card-title author-book-title">
                {{ book.title }}
                <small>({{ book.publicationDate|date('Y') }})</small>
            </h5>

            <h6 class="card-subtitle mb-2 text-muted author-book-info">{{ book.pages }} pages | {{ book.language }}</h6>

            {% for genre in book.genres %}
                <span class="author-book-genres">{{ genre }} |</span>
            {% endfor %}

            <br><br>

            <a class="card-link preview-link author-book-link" href="{{ path('show-book', {id: book.id}) }}">
                see book page <span class="fa fa-angle-right"></span>
            </a>
        </div>
    </div>
</div>
