{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}
{% block content %}
    <div class="col-md-3">
        <h2>Reserved</h2>
        <hr>
        <div id="reserved" class="drop-column">
            {% for reservation in reserved %}
                <div class="draggable-element" id="{{ reservation.id }}" draggable="true" ondrop="return false;">
                    {{ reservation.book.title }} | {{ reservation.reader }}
                    | {{ reservation.status }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <h2>Reading</h2>
        <hr>
        <div id="reading" class="drop-column">
            {% for reservation in reading %}
                <div class="draggable-element" id="{{ reservation.id }}" draggable="true" ondrop="return false;">
                    {{ reservation.book.title }} | {{ reservation.reader }}
                    | {{ reservation.status }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <h2>Returned</h2>
        <hr>
        <div id="returned" class="drop-column">
            {% for reservation in returned %}
                <div class="draggable-element" id="{{ reservation.id }}" draggable="true" ondrop="return false;">
                    {{ reservation.book.title }} | {{ reservation.reader }}
                    | {{ reservation.status }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <h2>Canceled</h2>
        <hr>
        <div id="canceled" class="drop-column">
            {% for reservation in canceled %}
                <div class="draggable-element" id="{{ reservation.id }}" draggable="true" ondrop="return false;">
                    {{ reservation.book.title }} | {{ reservation.reader }}
                    | {{ reservation.status }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            var currentStatus;

            $('.draggable-element')
                .bind('dragstart', function (event) {
                    event.originalEvent.dataTransfer.setData("text/plain", event.target.getAttribute('id'));
                    currentStatus = event.target.parentNode.id;
                });
            $('.drop-column')
                .bind('dragover', function (event) {
                    event.preventDefault();
                })
                .bind('drop', function (event) {
                    event.preventDefault();

                    var card = event.originalEvent.dataTransfer.getData("text/plain");

                    if ($(event.target).is(".drop-column") && currentStatus !== event.target.id) {
                        status = event.target.id;
                        event.target.appendChild(document.getElementById(card));

                        var url = "{{ path('reservation-update', {'id': 'card', 'status': 'newStatus'}) }}";
                        url = url.replace("card", card);
                        url = url.replace("newStatus", status);
                        console.log(url);
                        window.location = url;
                    }
                });
        });
    </script>
{% endblock %}
