{% extends 'base.html.twig' %}

{% block title %}Book rating{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>
            Rating:
            <span class="all-caps">"{{ book.title }}"</span> by
            <span class="capital">{{ book.author }}</span>
        </h2>
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="book-form-btn">SUBMIT</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
