<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('index') }}">libraryMS</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="">Catalog</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('activity') }}">Activity</a>
                </li>
            {% endif %}
        </ul>
        <div class="form-inline my-2 my-lg-0">
            {% if not app.user %}
                <a href="{{ path('login') }}">
                    <button type="button" class="btn btn-outline-info text-light">
                        LOGIN
                    </button>
                </a>

                <a href="{{ path('registration') }}">
                    <button type="button" class="btn btn-outline-info text-light" style="margin-left: 10px;">
                        REGISTER
                    </button>
                </a>
            {% else %}
                <div class="dropdown">
                    <button class="btn btn-outline-info text-light dropdown-toggle" type="button" id="profileMenu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </button>
                    <div id="profileMenu" class="dropdown-menu bg-dark">
                        <h6 class="dropdown-header text-light">{{ app.user.firstName }} {{ app.user.lastName }}</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('profile') }}">Profile</a>
                        <a class="dropdown-item" href="{{ path('notifications') }}">
                            Notifications
                            <span class="badge badge-pill badge-info">0</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a id="logout" href="{{ path('logout') }}">
                            <button type="button" class="btn btn-small btn-outline-danger text-light">LOGOUT</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
