<div class="portlet reservation-card" id="{{ reservation.id }}" draggable="true">
    <div class="portlet-header">
        <a class="book-title"
           href="{{ path('show-book', {bookSlug: reservation.book.slug, authorSlug: reservation.book.author.slug}) }}"
           title="Go to book"
        >
            {{ reservation.book.title }}
        </a>
        {% if reservation.status == 'reserved' %}
            <a class="cancel-reservation"
               href="{{ path('cancel-reservation', {id: reservation.id}) }}"
               title="Cancel reservation"
            >
                <span class="fa fa-times-circle"></span>
            </a>
        {% endif %}
    </div>
    <div class="portlet-content">
        <p>
            <small class="by">by</small> <span class="book-author">{{ reservation.book.author }}</span>
        </p>
        <p class="dates">
            <span class="from">from</span> <span class="date">{{ reservation.dateFrom|date('d M Y') }}</span>
            <span class="to">to</span> <span class="date">{{ reservation.dateTo|date('d M Y') }}</span>
        </p>
        {% if reservation.fine > 0 %}
            <p class="fine">
                <span>fine</span> <span class="amount">{{ reservation.fine }}</span>
            </p>
        {% endif %}
    </div>
</div>
