<div class="book-preview col-md-2">
    <a data-toggle="collapse" href="#bookInfo{{ book.id }}" aria-expanded="false" aria-controls="bookInfo{{ book.id }}">
        <img class="preview-cover" src="{{ asset('uploads/covers/' ~ book.cover) }}" alt="Book cover">
    </a>
    <div id="bookInfo{{ book.id }}" class="collapse card-body preview-book-card">
        <h5 class="card-title">
            <span class="preview-title">
                {{ book.title }}
            </span>
            by
            {% for author in book.authors %}
                <span class="preview-author">
                    {{ author.firstName }} {{ author.lastName }}
                </span>
            {% endfor %}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {% for genre in book.genres %}
                <span class="preview-genre">{{ genre.name }}</span>
            {% endfor %}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted preview-pages">
            {{ book.pages }} pages
        </h6>
        <p class="card-text preview-annotation">
            {{ book.annotation|length > 150 ? book.annotation|slice(0,150) ~ '...' : book.annotation }}
        </p>
        <a href="#" class="card-link preview-link">
            Book page
            <span class="fa fa-angle-right"></span>
        </a>
        <a href="#" class="card-link preview-link">
            Author page
            <span class="fa fa-angle-right"></span>
        </a>
    </div>
</div>
